<p-table #dt [value]="postes" selectionMode="multiple" [(selection)]="selectedPostes"
    [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['titre', 'niveauExperience', 'diplomeRequis', 'competencesRequises']"
    [tableStyle]="{ 'min-width': '50rem' }">

    <ng-template #caption>
        <div class="flex justify-between pb-4">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" [(ngModel)]="searchText" (input)="dt.filterGlobal(searchText, 'contains')" placeholder="Rechercher..." />
            </span>
            <p-button icon="pi pi-external-link" label="Export" (click)="exportPostes()" />
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Niveau d'expérience</th>
            <th>Diplôme requis</th>
            <th>Compétences requises</th>
            <th>Actions</th>
        </tr>
    </ng-template>

    <ng-template #body let-poste>
        <tr [pSelectableRow]="poste">
            <td>{{ poste.id }}</td>
            <td>{{ poste.titre }}</td>
            <td>{{ poste.niveau_experience }}</td>
            <td>{{ poste.diplomeRequis }}</td>
            <td>{{ poste.competencesRequises }}</td>
            <td>
                
                <button pButton label="Desarchiver" icon="pi pi-trash" class="p-button-text p-button-danger" (click)="deletePoste(poste)">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

